.wptt-entry {
  float: left;
  width: 200px;
  border: 1px solid black;
  height: 250px;
  padding: 30px;
  margin: 30px;
  background: white;
}

.wptt-entry h2 {
  font-size: 2em;
  text-transform: uppercase;
}